body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100vh;
}

.container{
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 40%;
    height: 45%;
}

.image-container{
    width: 50%;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
    gap: 20px;
}

.prod-perf{
    font-family:'Montserrat', sans-serif;
    letter-spacing: 6px;
    font-size: small;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.name{
    font-weight: 700;
    font-size: x-large;
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 21%, 14%);
}

.description{
    font-family:'Montserrat', sans-serif;
    font-size: smaller;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.price{
    font-family: 'Fraunces', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-price{
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-size: x-large;
}

.old-price{
    font-size: small;
    color: hsl(228, 12%, 48%);
}

.add-to-cart{
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.add-to-cart:hover{
    background-color: hsl(158, 42%, 18%);
}

@media (max-width: 376px) {
    .container {
        flex-direction: column; /* Menja raspored na vertikalni */
        width: 90%; /* Širi container da lepše izgleda na manjim ekranima */
        height: auto; /* Da se visina prilagodi sadržaju */
    }

    .image-container img {
        width: 100%; /* Slika sada zauzima celu širinu */
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0; /* Uklanja se donje zaobljenje jer ide iznad teksta */
    }

    .product-info {
        width: 100%; /* Tekst sada takođe zauzima celu širinu */
        padding: 20px; /* Malo veći razmak da se lepo uklopi */
    }
}
